extends /layouts/main

block styles
    //- AWN
    link(rel="stylesheet", href="/css/awn/style.css")

    //- My css
    link(rel="stylesheet", href="/css/room/room.css")

block content
    section
        .container.mt-5
            h3.text-center
                span #{room.name}
                br
                span#room-code-text.text-muted.cp ##{room.room_code}
            hr
        .container-fluid.mt-4.mb-5
            .row
                .col-xl-9.mb-4
                    .mb-4.d-inline-block.pr-3.border-right
                        label Actions
                        br
                        div(class="rounded shadow-sm px-2 py-1 border cp custom-dd position-relative")
                            span.active-opt Choose action...
                            span.ml-3
                                i.fas.fa-angle-down
                            div.position-absolute.dd-opts.w-100.bg-white.border.rounded
                                #save-as.opt.border-bottom.py-1.px-2
                                    span Save 
                                    span.text-muted (Ctrl + S)
                                #undo.opt.py-1.px-2
                                    span Undo 
                                    span.text-muted (Ctrl + Z)
                    .mb-4.d-inline-block.px-3.border-right
                        label Canvas size
                        br
                        input(class="rounded shadow-sm border px-2 py-1" id="canvas_w" type="number" min = "100" max="10000" placeholder = "Width" value = `${room.canvasSize.w}`)
                        span.mx-2 x
                        input(class="rounded shadow-sm border px-2 py-1" id="canvas_h" type="number" min = "100" max="10000" placeholder = "Height" value = `${room.canvasSize.h}`)
                    .mb-4.d-inline-block.px-3.border-right
                        label Color
                        br
                        input(class="rounded shadow-sm border px-2 py-1" id="user_color" type="color")
                    .mb-4.d-inline-block.px-3.border-right
                        label
                            span Size
                            svg(xmlns="http://www.w3.org/2000/svg" data-toggle="tooltip" data-placement="top" title="Size referes to the selected tool, except the ones that can be transformed freely." class="help-btn icon icon-tabler icon-tabler-help ml-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round")
                                path(stroke="none" d="M0 0h24v24H0z")
                                circle(cx="12" cy="12" r="9")
                                line(x1="12" y1="17" x2="12" y2="17.01")
                                path(d="M12 13.5a1.5 1.5 0 0 1 1 -1.5a2.6 2.6 0 1 0 -3 -4")
                        br
                        input(class="rounded shadow-sm border px-2 py-1" id="brush_size" type="number" min = "1" max = "500")
                    .mb-4.d-inline-block.pl-3
                        label Tool
                        br
                        select(class="rounded shadow-sm border px-2 py-1" id="tool")
                            option(value="pen") ✏ Pen
                            option(value="line") ➖ Line
                            option(value="ellipse") 🔵 Ellipse
                            option(value="circle") ⚫ Circle
                            option(value="rectangle") ⬛ Rectangle
                            option(value="text") ⌨ Text
                            option(value="eraser") ❌ Eraser
                    //- Canvas
                    div(id="canvas" class="border rounded shadow mr-3 position-relative" style=`width: ${room.canvasSize.w}px; height: ${room.canvasSize.h}px;`)
                        div(id = "canvasBlock" class = "d-none position-absolute w-100 h-100" style = "top: 0; left: 0; background-color: rgba(0, 0, 0, 0.5);")
                    //- Status
                    .mt-4
                        .mb-3.d-none
                            input(type="text" id = "add_text_input" class="rounded shadow-sm px-2 py-1 border bg-white" placeholder="Write text to add...")
                            p Click anywhere on canvas to add the text
                        p.text-muted.mb-2#status 
                        button(id="clearCanvas" class = "rounded shadow-sm border px-2 py-1 text-white bg-space") Clear canvas
                .col-xl-3
                    .border.shadow.rounded.mb-5
                        .px-3.py-2.border-bottom.bg-emerald
                            h4.text-center Messages
                            p.text-center.mb-0
                                span#number-of-participants 
                                | user(s)
                            p.text-right.h5
                                span#show-msgs-opts.cp
                                    //- i.fas.fa-users
                                    i.fas.fa-info-circle
                        .position-relative
                            #msgs-opts.px-3.py-2.d-none.position-absolute.w-100.h-100.bg-white
                                h5 Participants
                                hr
                                #users-list
                            #messages-list.px-3.py-2
                            #message-compose.px-3.py-2.border-top
                                .d-table-cell.w-100
                                    input(type="text" id = "message" name="message" class="rounded shadow-sm border px-2 py-1 form-control " placeholder="Type message...")
                                .d-table-cell.align-middle
                                    button(type="button" id = "send-msg-btn" class="ml-3 btn bg-emerald text-white rounded shadow-sm border ml-3") Send
        .container-fluid.text-left.mb-4
            #qrcode
                                

block scripts
    //- Load user data
    script.
        const username = "#{user.username}";
        const user_id = "#{user.id}";
        const room_code = "#{room.room_code}";
        const canvas_size = {
            w: "#{room.canvasSize.w}",
            h: "#{room.canvasSize.h}"
        };

    //- socket.io
    script(src="/socket.io/socket.io.js")

    //- Notifications lib
    script(src="/js/awn/index.var.js")
    script.
        const notif = new AWN({
            maxNotifications: 3,
            animationDuration: 200,
            durations: {
                global: 1800
            }
        });
    
    //- Custom dropdown js
    script(src="/js/custom_dd.js")

    //- QR Code lib
    script(src="/js/qrcode/qrcode.min.js")

    //- P5 js
    script(src="https://cdn.jsdelivr.net/npm/p5@1.1.9/lib/p5.js")

    //- Bootstrap JS (for pop ups)
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous")

    //- My js
    script(src="/js/copy.js")
    script(src="/js/room/statusHandler.js")
    script(src="/js/room/socketHandlerFrontEnd.js")
    script(src="/js/room/room.js")
    script(src="/js/room/messages.js")
    script(src="/js/room/keyboard_controls.js")
    script(src="/js/room/canvas.js")